<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="transaction.css">
</head>

<body>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <div class="card" style="max-width: 42%;">
        <h1>Payment details</h1>
        <div class="container-details" style="background: rgba(76, 175, 80, 0.9);
        padding-left: 2%;
        max-width: 77%;
        display: block;
        margin-left: 13%;
        border: 2px solid black;
        border-radius: 21px;
        color: mediumblue;">
            <div class="container">
                <h2>Transaction Id : </h2>
                <h2>1212232</h2>
            </div>
            <div class="container">
                <h2>Sender Name : </h2>
                <h2>Vaibhav Yadav</h2>
            </div>
            <div class="container">
                <h2>Roll Number : </h2>
                <h2>201210053</h2>
            </div>
            <div class="container">
                <h2>Receiver Name : </h1>
                    <h2>Umang Kumar</h2>
            </div>
            <div class="container">
                <h2>Amount : </h2>
                <h2>500</h2>
            </div>
            <div class="container">
                <h2>ISBN : </h2>
                <h2>123123123</h2>
            </div>
        </div>
        <div class="button">Continue -></div>
    </div>
</body>

</html>